@media screen and (max-width:499px) {
.warpenshop {
grid-template-columns: repeat(1, 1fr);
grid-gap: 10px;
display: grid;
}
}
@media screen and (min-width:500px) and (max-width:1199px) {
.warpenshop {
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
display: grid;
}
}
@media screen and (min-width:1200px) {
.warpenshop {
grid-template-columns: repeat(4, 1fr);
grid-gap: 10px;
display: grid;
}
}
.imgshop {
align-content: center;
}